.searchForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox {
    display: block;
    margin: 0 auto;
    background-color: var(--spaceDark);
    color: white;
    font-size: 24px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid var(--teal);;
    color: var(--teal);;
    text-align: center;
}

.searchBox:focus-visible {
    outline: 1px solid var(--sciFiGreen);;
}