.card {
  display: grid;

  grid-template-columns: 1fr 1fr;

  margin: 20px auto;

  background-color: var(--cardDark);

  box-shadow:
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  max-width: 700px;
  border-radius: 8px;
}

.imageContainer {
  width: 100%;
}

.image {
  width: 100%;
  border-radius: 8px 0 0 8px;
  object-position: center center;
  object-fit: cover;
}

.details {
  margin: 20px;

  color: var(--textWhite);
}

.details h1 {
  margin-bottom: 0;
}

.details p {
  margin: 15px 0;
}

.details span {
  font-weight: bold;

  color: var(--textGray);
}

.name {
  margin-bottom: 10px;

  font-size: 26px;

  color: var(--textWhite);
}

@media (max-width: 552px) {
  .card {
    grid-template-columns: 1fr;
  }
}
