.charactersContainer {
  margin: 40px auto;
  max-width: 960px;

  padding: 0 10px;
}

.charactersGrid {
  width: 100%;
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 20px;
}
