:root {
  --spaceDark: #282b33;
  --cardDark: #3b3e44;
  --textWhite: #f5f5f5;
  --textGray: #9e9e9e;
  --teal: #41b4ca;
  --sciFiGreen: #bfde43;
}

html {
  background-color: var(--spaceDark);

  color: var(--textWhite);
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

body {
  background-image: url('/stars.svg');
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

main {
  padding: 20px;
}

.headerLogo {
  height: 150px;
  position: relative;

  margin: 40px auto;
  max-width: 600px;
}

.headerLogo img {
  transition: transform 100ms ease;
}

.headerLogo a:active img {
  transform: scale(0.9);
}
