.pagination {
  width: fit-content;
  display: flex;

  align-items: center;

  margin: 80px auto 40px auto;

  background-color: var(--spaceDark);
  flex-direction: column;
}
.paginationButtons {
  display: flex;

  justify-content: center;
}

.paginationPrevNext {
  display: flex;

  align-items: center;

  margin: 20px;
  padding: 5px 10px;

  font-size: 24px;

  background-color: var(--teal);
  border-radius: 4px;
  border: 1px solid var(--teal);
  cursor: pointer;
}

.paginationPrevNext:focus {
  outline: 1px solid var(--sciFiGreen);
}

.paginationCounter {
  font-size: 24px;
}

.paginationCounter span {
  margin: 0 10px;

  color: var(--sciFiGreen);
}
