.skeletonCard {
  height: 320px;
  display: flex;

  align-items: center;
  justify-content: flex-start;

  padding: 10px;

  background-color: white;
  flex-direction: column;
  border-radius: 8px;
}

.skeletonCard svg {
  width: 100%;
}
